* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --teal: #009da6;
    --seafoam: #5f9ea0;
    --sunset: #ffca8e;
    --purple-sky: #e6d0dd;
    --deep-purple-sky: #6c567c;
    --black: #000;
    --white: #fff;
    --glass-white: rgba(255, 255, 255, 0.22);
    --blue-sand: #c0c1bb;
    --orange-sand: #feb25e;
}

body {
    background-color: var(--blue-sand);
    background-image: url('../Images/BG/Blue_W3070_H5464.jpg');
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a, a:visited, a:hover {
    color: var(--black);
}

a:visited {
    text-decoration: underline;
    text-underline-offset: 3px;
}

a:hover {
    color: var(--teal);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--teal);
}

a:active {
    color: var(--white);
}

button {
    width: 10%;
    height: 36px;
    border-radius: 5px;
    background-color: var(--teal);
    align-content: center;
    font-size: 14px;
}

button:hover {
    background-color: lightseagreen;
}

button a, button a:visited, a:hover {
    color: var(--black);
    text-decoration: none; 
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 56px;
}

h4 {
    font-size: 48px;;
}

h5 {
    text-align: center;
    font-size: 14px;
}

p {
    margin-top: 8px;
    font-size: 18px;
    text-indent: 24px;
}

strong {
    font-weight: bold;
}

i {
    font-style: italic;
}



header {
    margin: auto;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    background-color: var(--seafoam);
    width: 1200px;
}

header button {
    margin-top: 22px;
}

nav {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

nav a:link, nav a:visited, nav a:hover {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    color: var(--black);
    background-color: lightseagreen;
}

.logo {
    width: 10%;
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: bold;
    color: var(--white);
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
}



.wrapper {
    margin: auto;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 1200px;
}

div {
    box-sizing: border-box;     /* DO NOT DELETE */
}



.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7 {
    margin: auto;
    padding: 24px;
    width: 1080px;
    display: flex;
}

.container1 {
    margin-bottom: 48px;
    padding: 0;
    padding-top: 100px;
    height: 500px;
    display: block;
    background-color: rgba(255, 255, 255, 0.50);
    -webkit-backdrop-filter: blur(5px);
}

.container1 h1, .container1 h4 {
    text-align: center;
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
}

.container1 h1 {
    font-size: 128px;
}

.container1 img {
    width: 1064px;
    height: 532px;
    object-fit: cover;
}



.index-image {
    margin-left: 60px;
    width: 1080px;
    height: 540px;
    object-fit: cover;
}

.container2 {
    display: block;
    background-color: var(--blue-sand);
    border-right: 3px solid var(--seafoam);
    border-left: 3px solid var(--seafoam);
    border-bottom: 3px solid var(--seafoam);
    margin-bottom: 48px;
}

.container2 h4 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--seafoam);
    text-underline-offset: 3px;
    margin-bottom: 64px;
}



.container3 {
    justify-content: space-evenly;
    background-color: var(--blue-sand);
}

.ammenities-list {
    padding: 8px;
    text-align: center;
}



.container4 {
    padding: 0px;
}

.suite-information {
    width: 50%;
    padding: 16px;
    background-color: var(--blue-sand);
}

.suite-img {
    width: 50%;
    height: 400px;
}

/* Styling the area of the slides */
#slideshow {
    overflow: hidden;
    margin: 0 auto;
    height: 400px;
    background-color: var(--glass-white);
}

/* Style each of the sides with a fixed width and height */
.slide {
    float: left;
    height: 400px;
}

.slide h3 {
    padding: 64px;
    color: var(--white);
    font-style: italic;
}

.slide img {
    height: 400px;
    width: 540px;
}

/* Add animation to the slides */
.slide-wrapper {

    /* Calculate the total width on the basis of number of slides */
    width: calc(540px * 4);

    /* Specify the animation with the duration and speed */
    animation: slide 10s ease infinite;
}



.container5 {
    display: flex;
    justify-content: space-around;
    background-color: var(--blue-sand);
}

.testimonial-box {
    padding: 8px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    background-color: var(--glass-white);
}

.avatar {
    width: 20%;
    display: flex;
    justify-content: center;
}

.avatar img {
    width: 53px;
    height: 53px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials {
    padding: 8px;
    background-color: var(--glass-white);
    width: 75%;
}



.container6 {
    margin: 0;
    margin-left: 60px;
    background-color: var(--blue-sand);
    display: block;
}



.container7 {
    justify-content: center;
    height: 100px;
    background-color: var(--blue-sand);
}



.box1,
.box2,
.box3,
.box4 {
    margin: auto;
    width: 1080px;
    display: flex;
}

.left, .right {
    width: 50%;
}

.box1 .right, .box2 .left, .box3 .right {
    padding: 24px;
    background-color: var(--glass-white);
}

.box1 .left img, .box2 .right img, .box3 .left img {
    width: 540px;
    height: 540px;
    object-fit: cover;
}



.contact-box {
    margin: auto;
    padding: 8px;
    width: 1080px;
    min-height: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--glass-white);
    -webkit-backdrop-filter: blur(5px);
}

.contact-box-1,
.contact-box-2,
.contact-box-3, 
.contact-sub-box-top,
.contact-sub-box-bottom {
    padding: 8px;
}

.contact-sub-box-top {
    text-align: center;
}

.contact-box-1 {
    width: 33%;
}

a.socials {
    font-size: 36px;
    text-decoration: none;
    color: var(--teal);
}

.contact-box-2 {
    width: 66%;
    background-color: var(--seafoam);
}

input {
    margin-bottom: 8px;
    font-size: 18px;
}

input[type=submit] {
    background-color: var(--glass-white);
    color: white;
    padding: 8px 16px;
    font-size: 12px;
    font-style: bold;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: var(--teal);
}

input[type=reset] {
    background-color: var(--teal);
    color: white;
    padding: 8px 16px;
    font-size: 12px;
    font-style: bold;
    border: none;
    border-radius: 5px;
}

input[type=reset]:hover {
    background-color: var(--seafoam);
}




footer {
    margin: 0 auto;
    margin-bottom: 48px;
    width: 1080px;
    display: flex;
    background-color: var(--glass-white);
    -webkit-backdrop-filter: blur(5px);
    justify-content: space-between;
}

footer h5 {
    padding: 5px;
    border-radius: 15px;
    background-color: var(--seafoam);
    margin-bottom: 8px;
}

footer p {
    margin-top: 8px;
    font-size: 14px;
    text-indent: 0;
}

footer .footer-box-1, footer .footer-box-2, footer .footer-box-3 {
    padding: 8px;  
}


footer .footer-box-1, footer .footer-box-3 {
    width: 25%;
}

footer .footer-box-2 {
    width: 50%;
}

footer form {
    padding-top: 48px;
    text-align: center;
}







/* Define the animation for the slideshow */
@keyframes slide {

    /* Calculate the margin-left for 
    each of the slides */
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-540px * 1);
    }

    60% {
        margin-left: calc(-540px * 2);
    }

    80% {
        margin-left: calc(-540px * 3);
    }
}